<!--MENU-->
<div class="fixed z-30 flex items-center justify-center w-full h-16 p-2 px-10 bg-light-500 dark:bg-primary-500">
  <div
    class="flex items-center justify-center flex-none h-full ml-12 duration-500 ease-in-out transform logo dark:text-white">
    {{ names.title}}
  </div>
  <!-- SPACER -->
  <div class="flex items-center justify-center h-full grow"></div>
  <div class="flex items-center justify-center flex-none h-full text-center">

    <div class="flex items-center px-3 space-x-3">
      <div class="flex justify-center flex-none">
        <div class="flex w-8 h-8 ">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShta_GXR2xdnsxSzj_GTcJHcNykjVKrCBrZ9qouUl0usuJWG2Rpr_PbTDu3sA9auNUH64&usqp=CAU"
            alt="profile" class="object-cover rounded-full shadow" />
        </div>
      </div>

      <div class="hidden text-sm text-black md:block md:text-md dark:text-white">John Doe</div>
    </div>
  </div>
</div>
<!-- MENU-->



