<!--MENU-->
<div class="fixed z-30 flex items-center justify-center w-full h-16 p-2 px-10 bg-primary-500">
  <div
    class="flex items-center justify-center flex-none h-full ml-12 text-white duration-500 ease-in-out transform logo">
    {{ names.title}}
  </div>
  <!-- SPACER -->
  <div class="flex items-center justify-center h-full grow"></div>
  <div class="flex items-center justify-center flex-none h-full text-center">

    <div class="flex items-center px-3 space-x-3">
      <button
        class="flex items-center justify-center p-3 font-sans text-xs font-bold uppercase transition-all rounded-lg text-info-500 middle none center hover:bg-info-500/20 active:bg-info-500/30 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        (click)="toggleOpen()">
        <i class="text-lg leading-none fas fa-bell"></i>
      </button>
      <div [hidden]="!open">
        <!-- <app-board></app-board> -->
        <app-notification></app-notification>
      </div>
      <div class="flex justify-center flex-none">
        <div class="flex w-8 h-8 ">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShta_GXR2xdnsxSzj_GTcJHcNykjVKrCBrZ9qouUl0usuJWG2Rpr_PbTDu3sA9auNUH64&usqp=CAU"
            alt="profile" class="object-cover rounded-full shadow" />
        </div>
      </div>

      <div class="hidden text-sm text-white md:block md:text-md">John Doe</div>
    </div>
  </div>
</div>
<!-- MENU-->



